Search results here:
%br
%br
%div
  - @photos.each do |photo|
    %div.photos
      %p
        = photo.title
      %a{href: "#{photo.big_url}", target: '_blank'}
        %img(src="#{photo.thumb_url}")
  %br
  = will_paginate(@photos)
