%html
  %head
    %title Flickrr
    %link{ :rel => :stylesheet, :type => "text/css", :href => "/views/css/style.css"}
  %body
    .box
      -if session[:user_id]
        %p
          Hi there!
        %a{ :href => "/logout", :title => "Logout" } Logout
      -else
        Hey there, in order to view photos you need to:
        %a{ :href => "/login", :title => "Login" } Login
        %a{ :href => "/register", :title => "Register" } Register
    =yield
